<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag Quiz Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <% if (typeof req !== 'undefined') {%>
        <%- include('info', { req: req }); %>
    <%}%>
    <div class="game-window" id="main">
        <% if (typeof data !== 'undefined') {%>
            <div style="color: rgb(4, 76, 0); font-size: 20px">Name "<b><%= data.name %></b>"</div>
            <div style="color: rgb(4, 76, 0); font-size: 20px">E-mail "<b><%= data.email %></b>"</div>
            <div style="color: rgb(4, 76, 0); font-size: 20px">Max Score "<b><%= data.max_score %></b>"</div>
        <% } else{ %>
            Not logged in
        <% } %>
        <div style="display: inline-block; position: relative;">
            <a href="/games?CSRFToken=<%= req.token %>" class="glassy-button game-button">Game Selector</a>
        </div>
        <br>
        <div style="display: inline-block; position: relative;">
            <a href="/logout?CSRFToken=<%= req.token %>" class="glassy-button logout-button">Logout</a>
        </div>
    </div>
</body>
</html>
